@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

body {
    margin: 0;
    padding: 0;
}
.main-container {
    padding: 40px 140px;
    max-width: 1400px;
    margin: auto;
}

.top-section {
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 40px;
    background: #FAFAFA;
    border-radius: 5px;
    padding: 40px;
}

.body-section {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    margin-top: 60px;
}

.test {
    height: 100px;
    border: 1px solid red;
}

.infos-profil {
    border: 1px solid red;
}

.titre-selector {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

#nom-profil {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 83px;
    color: #D3573C;
    margin-bottom: 20px;
}

#ville-profil {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
    margin-bottom: 20px;
}

#citation-profil {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #525252;  
    margin-bottom: 20px;  
}

#tag-profil {
    margin-top: 10px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #911C1C;
}

.tag {
    margin-right: 10px;
    border-radius: 20px;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    text-align: center;
    color: #911C1C;
    margin-bottom: 5px;
    padding: 0px 10px;
}

a {
    text-decoration: none;
}

.card-photo {   
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#photo-top-section {
    position: absolute;
    right: 2%;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

#container-contactez-moi {
    margin-left: 0;
}

.contactez-moi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 69px;
    background: #911C1C;
    border-radius: 5px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 40px;
}

