@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

body {
    margin: 0;
    padding: 0;
}
.main-container {
    padding: 40px 140px;
    max-width: 1400px;
    margin: auto;
}

#main-section {
    margin-top: 80px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.text-header {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    color: #911C1C;
    margin-top: 0;
}

.link-container {
    display: flex;
    justify-content: center;
    width: 100%;
    visibility: hidden;
}
.link {
    text-align: center;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    background-color: #DB8876;
    width: 182px;
}

#main-section {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    margin-left: -100px;
    margin-right: -100px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.card-name {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #D3573C;
    margin-bottom: 10px;
}

.card-city {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #901C1C;
    margin-bottom: 5px;
}

.card-citation {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #000000;
    margin-bottom: 5px;
}

.card-tjm {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 12px;    
    text-align: center;
    color: #757575;
    margin-bottom: 5px;
}

.card-tags {
    display: flex;
}

.tag {
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #911C1C;
    padding: 0px 10px;

}


